*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.other-search {
  display: flex;
  flex-direction: row;
}

.other-search button {
  margin-right: 3rem;
}

.search {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 3rem;
}

.each {
  display: flex;
  flex-direction: column;
}

.info-box{
  display: flex;
  flex-direction: row;
}

.info-box img{
  width: 50%;
  margin-right: 2rem;
}

.facilities button {
  padding: .5rem;
  margin: .5rem;
  background-color: tomato;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.airbnb-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding: 1rem;
}

.airbnb-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.airbnb-rating h1 {
  font-family: "Poppins";
  font-weight: bolder;
}

.normal-rating {
  display: flex;
  flex-direction: row;
}

.normal-rating div {
  padding: 1rem;
}

.normal-rating div button{
  background-color: lightblue;
  border: 1px solid salmon;
  padding: .2rem;
  border-radius: 20%;
}

.ratings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ratings h5{
  background-color: lightblue;
  width: 5rem;
}

.rating-total-btn{
  background: none;
  border: none;
}